
html{
  background: #363537;
  height: 200vh;
}
.mainColor{

}
.secondaryColor{
  background: #8CD867;

}
.thirdColor{
  background: #ED7D3A;
}
.fourthColor{
  background: #EF2D56;
}
html .fifthColor{
  background: #363537;
}

.noOutline{
  border: 0px solid black!important;
}